<div style="padding: 50px; text-align: center;">
  <h1><strong>Lage</strong></h1>
</div>

<div class="lage-info1" style="text-align: center" >
  <p>Käpt-Christiansen-Straße 5, 25980 Westerland</p>

<p>Das ART'hüs ist in zentraler Lage Westerlands, ca. 500 m zum Strand am Ende
der Straße und auch nur ca. 300 m vom Zentrum entfernt.
Bushaltestelle ist vor der Tür.</p>
<button>500m</button><button>300m</button><button>700m</button>
</div>

<!--
<div id="map"
    style="width: 50%;
     height: 300px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV[MAPBOX_API_KEY] %>"></div>

  <%=javascript_include_tag application %>
  ADD THIS LINE
  <%= javascript_include_tag https://maps.googleapis.com/maps/api/js %>
  <%= javascript_pack_tag application %>
  <%= javascript_pack_tag map %>

-->


<!-- <img id="map" src='https://api.mapbox.com/[...]?access_token=pk.eyJ1Ijoia2ltbmVzc2VsaGF1ZiIsImEiOiJjazhkMG5zbnowcmFmM3BxdGxjb3RpcHFtIn0.5zPTgLDBMPwpkRv6rWwAKA'> -->


