
  <div class="container">
    <h1>Unsere Appartments im Überblick</h1>
</div>
 <div class="cards-container-1">
    <div class="card-appartment parent">
      <%= link_to appnumbers_one_path do %>
      <%= image_tag "zimmer.jpg", class: "card-img-top", alt: "ups...da gab es wohl ein problem beim laden" %>
      <% end %>

      <div class="div">
      <div class="trip-text">
        <h5>App. 1</h5>
        <p style="margin: 0 ">welcome to athen</p>
      </div>
      <div class="price">
        <h5>$999</h5>
      </div>
      </div>
    </div>

    <div class="card-appartment parent">
      <%= link_to appnumbers_two_path do %>
      <%= image_tag "zimmer.jpg", class: "card-img-top", alt: "ups...da gab es wohl ein problem beim laden" %>
      <% end %>
      <div class="div">
      <div class="trip-text">
        <h5>App. 2</h5>
        <p style="margin: 0 ">welcome to athen</p>
      </div>
      <div class="price">
        <h5>$999</h5>
      </div>
      </div>
    </div>

    <div class="card-appartment parent">
      <%= link_to appnumbers_tree_path do %>
      <%= image_tag "zimmer.jpg", class: "card-img-top", alt: "ups...da gab es wohl ein problem beim laden" %>
      <% end %>
      <div class="div">
      <div class="trip-text">
        <h5>App. 2</h5>
        <p style="margin: 0 ">welcome to athen</p>
      </div>
      <div class="price">
        <h5>$999</h5>
      </div>
      </div>
    </div>

    <div class="card-appartment parent">
      <%= link_to appnumbers_four_path do %>
      <%= image_tag "zimmer.jpg", class: "card-img-top", alt: "ups...da gab es wohl ein problem beim laden" %>
      <% end %>
      <div class="div">
      <div class="trip-text">
        <h5>App. 3</h5>
        <p style="margin: 0 ">welcome to athen</p>
      </div>
      <div class="price">
        <h5>$999</h5>
      </div>
      </div>
    </div>
  </div>


  <div class="cards-container-2">
    <div class="card-appartment parent">
      <%= link_to appnumbers_five_path do %>
      <%= image_tag "zimmer.jpg", class: "card-img-top", alt: "ups...da gab es wohl ein problem beim laden" %>
      <% end %>
      <div class="div">
      <div class="trip-text">
        <h5>App. 1</h5>
        <p style="margin: 0 ">welcome to athen</p>
      </div>
      <div class="price">
        <h5>$999</h5>
      </div>
      </div>
    </div>

    <div class="card-appartment parent">
      <%= link_to appnumbers_six_path do %>
      <%= image_tag "zimmer.jpg", class: "card-img-top", alt: "ups...da gab es wohl ein problem beim laden" %>
      <% end %>
      <div class="div">
      <div class="trip-text">
        <h5>App. 2</h5>
        <p style="margin: 0 ">welcome to athen</p>
      </div>
      <div class="price">
        <h5>$999</h5>
      </div>
      </div>
    </div>

    <div class="card-appartment parent">
      <%= link_to appnumbers_seven_path do %>
      <%= image_tag "zimmer.jpg", class: "card-img-top", alt: "ups...da gab es wohl ein problem beim laden" %>
      <% end %>
      <div class="div">
      <div class="trip-text">
        <h5>App. 2</h5>
        <p style="margin: 0 ">welcome to athen</p>
      </div>
      <div class="price">
        <h5>$999</h5>
      </div>
      </div>
    </div>

    <div class="card-appartment parent">
      <%= link_to appnumbers_eight_path do %>
      <%= image_tag "zimmer.jpg", class: "card-img-top", alt: "ups...da gab es wohl ein problem beim laden" %>
      <% end %>
      <div class="div">
      <div class="trip-text">
        <h5>App. 3</h5>
        <p style="margin: 0 ">welcome to athen</p>
      </div>
      <div class="price">
        <h5>$999</h5>
      </div>
      </div>
    </div>
  </div>

