<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="cards-container">
  <h1 style="margin-top: 100px; text-align: center;">Unsere Appartments im Überblick</h1>
  <div class="row row-cols-1 row-cols-md-2">
<!------------------appartment 1------------------->
  <div class="col mb-4">
    <div class="card" style="margin: 20px 20px 20px 100px;">
     <div class="card-img-top w3-hover-opacity" id="img01" style="background-image: url('<%= image_path "app-3.jpeg"%>'); width: auto;height: 300px; object-fit: cover; cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
      </div>
      <div class="card-body">
        <h5 class="card-title">Appartment 1</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button class="home-app-btn" style="margin: 6px;"><%= link_to "Kontakt", contacts_new_path, style: "font-size: 15px" %></button>
        <button class="home-app-btn" style="margin: 6px;"><a href="http://visitenkarten.im-web.de/55004/belegung.php" target="_blank" style="font-size: 15px">Jetzt Buchen</a></button>
      </div>
    </div>
  </div>
  <!------------------appartment 2------------------->
  <div class="col mb-4">
    <div class="card" style="margin: 20px 100px 20px 20px;">
     <div class="card-img-top w3-hover-opacity" id="img02" style="background-image: url('<%= image_path "app-8.jpeg"%>'); width: auto;height: 300px; object-fit: cover; cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
      </div>
      <div class="card-body">
        <h5 class="card-title">Appartment 2</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button class="home-app-btn" style="margin: 6px;"><%= link_to "Kontakt", contacts_new_path, style: "font-size: 15px" %></button>
        <button class="home-app-btn" style="margin: 6px;"><a href="http://visitenkarten.im-web.de/55004/belegung.php" target="_blank" style="font-size: 15px">Jetzt Buchen</a></button>
      </div>
    </div>
  </div>
  <!------------------appartment 3------------------->
  <div class="col mb-4">
    <div class="card" style="margin: 20px 20px 20px 100px;">
     <div class="card-img-top" style="background-image: url('<%= image_path "app-3.jpeg" %>'); width: auto;height: 300px; object-fit: cover">
      </div>
      <div class="card-body">
        <h5 class="card-title">Appartment 3</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button class="home-app-btn" style="margin: 6px;"><%= link_to "Kontakt", contacts_new_path, style: "font-size: 15px" %></button>
        <button class="home-app-btn" style="margin: 6px;"><a href="http://visitenkarten.im-web.de/55004/belegung.php" target="_blank" style="font-size: 15px">Jetzt Buchen</a></button>
      </div>
    </div>
  </div>
  <!------------------appartment 4------------------->
  <div class="col mb-4">
    <div class="card" style="margin: 20px 100px 20px 20px;">
     <div class="card-img-top" style="background-image: url('<%= image_path "app-3.jpeg" %>'); width: auto;height: 300px; object-fit: cover">
      </div>
      <div class="card-body">
        <h5 class="card-title">Appartment 4</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button class="home-app-btn" style="margin: 6px;"><%= link_to "Kontakt", contacts_new_path, style: "font-size: 15px" %></button>
        <button class="home-app-btn" style="margin: 6px;"><a href="http://visitenkarten.im-web.de/55004/belegung.php" target="_blank" style="font-size: 15px">Jetzt Buchen</a></button>
      </div>
    </div>
  </div>
  <!------------------appartment 5------------------->
  <div class="col mb-4">
    <div class="card" style="margin: 20px 20px 20px 100px;">
     <div class="card-img-top" style="background-image: url('<%= image_path "app-3.jpeg" %>'); width: auto;height: 300px; object-fit: cover">
      </div>
      <div class="card-body">
        <h5 class="card-title">Appartment 5</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button class="home-app-btn" style="margin: 6px;"><%= link_to "Kontakt", contacts_new_path, style: "font-size: 15px" %></button>
        <button class="home-app-btn" style="margin: 6px;"><a href="http://visitenkarten.im-web.de/55004/belegung.php" target="_blank" style="font-size: 15px">Jetzt Buchen</a></button>
      </div>
    </div>
  </div>
  <!------------------appartment 6------------------->
  <div class="col mb-4">
    <div class="card" style="margin: 20px 100px 20px 20px;">
     <div class="card-img-top" style="background-image: url('<%= image_path "app-3.jpeg" %>'); width: auto;height: 300px; object-fit: cover">
      </div>
      <div class="card-body">
        <h5 class="card-title">Appartment 6</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button class="home-app-btn" style="margin: 6px;"><%= link_to "Kontakt", contacts_new_path, style: "font-size: 15px" %></button>
        <button class="home-app-btn" style="margin: 6px;"><a href="http://visitenkarten.im-web.de/55004/belegung.php" target="_blank" style="font-size: 15px">Jetzt Buchen</a></button>
      </div>
    </div>
  </div>
  <!------------------appartment 7------------------->
  <div class="col mb-4">
    <div class="card" style="margin: 20px 20px 20px 100px;">
     <div class="card-img-top" style="background-image: url('<%= image_path "app-3.jpeg" %>'); width: auto;height: 300px; object-fit: cover">
      </div>
      <div class="card-body">
        <h5 class="card-title">Appartment 7</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button class="home-app-btn" style="margin: 6px;"><%= link_to "Kontakt", contacts_new_path, style: "font-size: 15px" %></button>
        <button class="home-app-btn" style="margin: 6px;"><a href="http://visitenkarten.im-web.de/55004/belegung.php" target="_blank" style="font-size: 15px">Jetzt Buchen</a></button>
      </div>
    </div>
  </div>
  <!------------------appartment 8------------------->
  <div class="col mb-4">
    <div class="card" style="margin: 20px 100px 20px 20px;">
     <div class="card-img-top" style="background-image: url('<%= image_path "app-3.jpeg" %>'); width: auto;height: 300px; object-fit: cover">
      </div>
      <div class="card-body">
        <h5 class="card-title">Appartment 8</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button class="home-app-btn" style="margin: 6px;"><%= link_to "Kontakt", contacts_new_path, style: "font-size: 15px" %></button>
        <button class="home-app-btn" style="margin: 6px;"><a href="http://visitenkarten.im-web.de/55004/belegung.php" target="_blank" style="font-size: 15px">Jetzt Buchen</a></button>
      </div>
    </div>
  </div>
</div>
</div>

<!------------------ab hier Modul für appartment 1------------------->

<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
  <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
  <div class="w3-modal-content w3-animate-zoom">
    <h5 id="img01">Appartment 7</h5>
  </div>
</div>
<script>
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
}
</script>

<!--
<script>
document.getElementsByClassName("tablink")[0].click();

function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].classList.remove("w3-light-grey");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.classList.add("w3-light-grey");
}
</script>
-->

<!------------------ab hier Modul für appartment 2------------------->

<!--<div id="modal02" class="w3-modal">
 <div class="w3-modal-content w3-card-4 w3-animate-zoom">
  <header class="w3-container w3-blue">
   <span onclick="document.getElementById('modal02').style.display='none'"
   class="w3-button w3-blue w3-xlarge w3-display-topright">&times;</span>
   <h2 id="modal02">Appartment 2</h2>
  </header>

  <div class="w3-bar w3-border-bottom">
   <button class="tablink w3-bar-item w3-button" onclick="openCity(event, 'London')">London</button>
   <button class="tablink w3-bar-item w3-button" onclick="openCity(event, 'Paris')">Paris</button>
   <button class="tablink w3-bar-item w3-button" onclick="openCity(event, 'Tokyo')">Tokyo</button>
  </div>

  <div id="London" class="w3-container city">
   <h1>London</h1>
   <p>London is the most populous city in the United Kingdom, with a metropolitan area of over 9 million inhabitants.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

  <div id="Paris" class="w3-container city">
   <h1>Paris</h1>
   <p>Paris is the capital of France.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>

  <div id="Tokyo" class="w3-container city">
   <h1>Tokyo</h1>
   <p>Tokyo is the capital of Japan.</p><br>
  </div>

  <div class="w3-container w3-light-grey w3-padding">
   <button class="w3-button w3-right w3-white w3-border"
   onclick="document.getElementById('modal02').style.display='none'">Close</button>
  </div>
 </div>
</div>
<script>
function onClick(element) {
  document.getElementById("img02").src = element.src;
  document.getElementById("modal02").style.display = "block";
}
</script>
